annotated-types
anyio==3.7.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distro==1.8.0
fastapi
h11==0.14.0
httpcore
httptools
httpx
idna
openai
pydantic
pydantic_core
python-dotenv
PyYAML
requests
setuptools
sniffio
starlette
tqdm
typing_extensions
urllib3
uvicorn
watchfiles
websockets
